html,body {
    background: var(--bg);
    @include Scrollbar(var(--primary)) ;
    overflow-x: hidden;
    scroll-behavior: smooth;
    color: var(--text);


    



}

.cvButton{
    width: 12%;
    border: 1px solid #000;
    border-radius: 10px;
    color: var(--primary);
    font-weight: bold;
    padding: 5px;  
}

@media screen and (max-width: 700px) {
    .cvButton{
        width: 42%;
        border: 1px solid #000;
        border-radius: 10px;
        color: var(--primary);
        font-weight: bold;
        padding: 5px;  
    }
}
*{
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    font-weight: bold;
    text-decoration: none !important;
    cursor: pointer;

}

button,
svg {
    cursor: pointer;
}



.not_foound_page{
    background: black;
    height: 100vh;
    display: flex;justify-content: center;align-items:center;


    p{
        color: white;
        display: inline;
    
    }
    h6{
        display: inline;
        margin-inline:20px;
        height: 140px !important;
        
        width: 20px;
    }
    .container-not-found{
        display: flex;
        flex-direction: column;
        align-items: center;
        div{
            display: flex;justify-content: center;align-items: center;

        }
        button{
            border: none;
            outline: none;
            padding: 8px;
            border-radius: 10px;

            margin-inline:30px;
        }
    }
}